@import "./bootstrap-5.0.2-dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --orange: hsl(31, 77%, 52%);
    --d-cyan: hsl(184, 100%, 22%);
    --vd-cyan: hsl(179, 100%, 13%);
    --t-white: hsla(0, 0%, 100%, 0.75);
    --vl-gray: hsl(0, 0%, 95%);
    --font: 15px;
} 

.bg-orange{
    background-color: var(--orange);
}

.bg-d-cyan{
    background-color: var(--d-cyan);
}

.bg-vd-cyan{
    background-color: var(--vd-cyan);
}

.bg-vl-gray{
    background-color: var(--vl-gray);
}

.text-t-white{
    color: var(--t-white);
}

body{
    font-size: var(--font);
}

main{
    margin-top: 5rem;
    flex-direction: row;
}

.sedan, .suv, .lux{
    padding: 3rem 4rem 2rem 2rem !important;
    max-width: 70% !important;
}

p{
    font-size: 18px !important;
}

.suv{
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    -ms-border-radius: 0px!important;
    -o-border-radius: 0px!important;
}

.sedan{
    border-radius: 10px 0 0 10px !important;
    -webkit-border-radius: 10px 0 0 10px !important;
    -moz-border-radius: 10px 0 0 10px !important;
    -ms-border-radius: 10px 0 0 10px !important;
    -o-border-radius: 10px 0 0 10px !important;
}

.lux{
    border-radius: 0 10px 10px 0!important;
    -webkit-border-radius: 0 10px 10px 0!important;
    -moz-border-radius: 0 10px 10px 0!important;
    -ms-border-radius: 0 10px 10px 0!important;
    -o-border-radius: 0 10px 10px 0!important;
}

img{
    margin-bottom: 2rem;
}

h1{
    color: var(--vl-gray);
    font-family: 'Big Shoulders Display', cursive;
}

p, button{
    font-family: 'Lexend Deca', sans-serif;
}

.card-body{
    margin-bottom: 4.5rem;
}

.card{
    border: none !important;
}

.card-header, .card-footer{
    border: 0px !important;
    background-color: transparent !important;
}

button{
    background-color: var(--vl-gray) !important;
    border-radius: 100px !important;
    -webkit-border-radius: 100px !important;
    -moz-border-radius: 100px !important;
    -ms-border-radius: 100px !important;
    -o-border-radius: 100px !important;
    width: 60%;
    font-weight: 400;
}

@media (max-width: 992px){
    button{
        width: auto;
    }

    p{
        font-size: 15px !important;
    }

    .sedan, .suv, .lux{
        padding: 2rem 2rem 2rem 2rem !important;
        max-width: 100% !important;
    }
}

.sedb{
    color: var(--orange);
}

.suvb{
    color: var(--d-cyan);
}

.luxb{
    color: var(--vd-cyan);
}

button:hover{
    background-color: transparent !important;
    color: var(--vl-gray) !important;
    border: 1px solid var(--vl-gray) !important;
}

@media (max-width: 686px){
    main{
        flex-direction: column !important;
    }
}